.location-details-cmp {
  .top {
    display: flex;
    justify-content: space-between;
    
    background-color: #06bcfb;
    background-image: linear-gradient(0deg, #06bcfb 0%, #4885eebd 74%);


    color: #fff;
    margin-bottom: 10px; //FIX
    height: 220px;

    > * {
      width: 33%;
    }

    .name-temperature-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .temperature {
        padding-left: 5px;
      }
    }

    .weather-icon-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      img {
        margin-bottom: 10px;
        width: 70px;
        height: 70px;
      }
    }

    .toggle-heart-cmp {
      text-align: right;
    }
  }

  .test-1 {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 3fr 2fr;
    @media (max-width:670px) {
      grid-template-columns: 1fr;
    }
  }

  .location-time-container {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    background-color: lightblue;
    // background-image: url('/assets/day.jpg');
    background-size: 100% 100%;
    h3 {
      font-weight: 300;
    }
  }

  @keyframes windy {
    0%   {transform: scaleX(1);}
    50%   {transform: scaleX(0.9);}
    100%   {transform: scaleX(1);}
  }

  .wind {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      animation: windy 3s infinite;
      position: absolute;
      opacity: 0.5;
      height: 71%;
      left: 3%;
      bottom: 9%;
      transform-origin: left;
    }
  }

}
