.location-preview-cmp {
   cursor: pointer;

   text-align: center;

   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;


   &:hover {
      background-color: #fff;
   }
}