.app-header-cmp {
  color: #fff;
  padding: 0 10px;
  // curve header
  width: 105%;
  height: 100px;
  left: -3%;
  position: relative;
  background-color: var(--bg-color-header);
  background-image: var(--bg-image-header);
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 40%;
  //----------

  .container {
    padding: 15px 20px;
  }

  .widget-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 16px;
    @media (max-width: 670px) {
      font-size: 14px;
    }
  }

  .main {
    // background-color: rgba(255, 255, 255, 0.418);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
