.location-search-cmp{
   position: relative;
   input {
      width: 100%;
      padding: 15px;
      border-radius: 9px;
   }

   .suggests-list-cmp {
      position: absolute;
      width: 100%;
      top: 120%;
   }
}