.toggle-unit-cmp {
   > * {
      opacity: 0.6;
   }
   button {
      background-color: unset;
      color: #fff;
      padding: 0;
      font-size: unset;
      &.active {
         opacity: 1;
      }
   }
}