.suggests-list-cmp {
  z-index: 1;
  // background-color: #fff;
  background-color: var(--bg-color-card);
  box-shadow: var(--box-shadow);
  max-height: 300px;
  overflow-y: scroll;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;

  .suggest-preview {
    cursor: pointer;
    border-bottom: 1px solid var(--border-color-soft);
    font-size: 15px;
    padding: 1rem;
    transition: background-color 0s;
    &:hover {
      background-color: var(--color-soft);
    }

    .country {
      color: var(--text-color-mid);
      font-weight: 300;
      margin-left: 3px;
      font-size: 14px;
    }
  }
}
