.container {
   max-width: 1100px;
   margin: 0 auto;
   background-color: #eee;
}

.content {
   padding: 10px;
}

.flex {
   display: flex;
}

.column {
   flex-direction: column;
}


.floating-card {
   height: 170px;
   box-shadow: 0 0 2px 1px #cfcfcf;
   background-color: #eee;
   border-radius: var(--border-radius);
}
