* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background-color: unset;
  padding: unset;
}

input {
  background-color: var(--bg-color-input);
}

button,
input {
  outline: none;
  border: none;
  font-size: 15px;
  color: unset;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}
